# Copilot
.copilot

# Python
__pycache__/
*.pyc
.venv/
venv/
**/.venv/
.python_packages/

# Environment
.env

# IDE
.vscode/
.idea/

# Deploy
deploy.zip

# Azure Functions
local.settings.json

# Bicep compiled output
main.json